* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.fake-style {
    color: 'blue';
    background: 'yellow';
}

:root {
    --root-height: 100%;
    --root-width: 100%;
}

.spin-enter-active { transition: opacity 1s, transform 0.75s    }
.spin-leave-active { transition: opacity 0.75s; } 

.spin-enter {
    transform: rotateY(540deg);
    opacity: 0;
}
.spin-leave-to { opacity: 0;       }



.fade-enter-active { transition: opacity 1s     }
.fade-leave-active { transition: opacity 0.75s; } 
.fade-enter, .fade-leave-to { opacity: 0;       }

.fade-enter-active,
.fade-leave-active {
  transition: opacity 1s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}



/* we will explain what these classes do next! */
.v-enter-active,
.v-leave-active {
  transition: opacity 0.5s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}




body, html {
    height: 100%;
    width: 100%;
}

.rel {
    position: relative;
}

body {
    position: relative;
}

.centered {
    display: flex;
    align-items: center;
    justify-content: center;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    border: none;
}

button:hover {
    cursor: pointer;
}


iframe {
    width: 100vw;
    height: 100vh;
    border: none;
    outline: none;
}


.twocol {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.twocol > * {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pre {
    whitespace: 'pre'
}

.app {
    position: relative;
    width: 100%;
    height: 100%;
}
  
  

.jsxgraph {
    width: 200px;
    height: 200px;
}


.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.svg-icon {
  display: inline-block;
  vertical-align: baseline;
  margin-bottom: -2px; /* yes, I'm that particular about formatting */
}




/* bootstrap */

 .btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn:hover,
.btn:focus,
.btn.focus {
  color: #333;
  text-decoration: none;
}
.btn:active,
.btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.standard-table {
    
}
.standard-table > * {
    display: flex;
}

.crimson {
    font-family: Crimson Pro;
}

.red {
    color: red;
}

.box {
    height: 80px;
    width: 80px;
    background: red;
}

.gradient {
    width: 100vw;
    height: 100vh;
 /* https://codepen.io/P1N2O/pens/popular */
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.hoverable {
  transition: transform .3s;
  opacity: 1;
}

.hoverable:hover {
  transform: scale(1.1);
  opacity: 0.8
}


textarea, input, input:focus {
    border: none;
    outline: none;
}

.clicker-child{
display:none;
}

.clicker-parent:focus + .clicker-child{
    display: inline-block;
}

.counter-parent {
  counter-reset: tidbit-counter;
}

.counter-parent > *::before {
  position: relative;
  background: black;
  color: white;
  padding: 4px 6px 4px 6px;
  right: 0;
  top: 0;
  font-family: 'sans-serif';
  font-weight: 600;
  font-size: 0.8rem;
  counter-increment: tidbit-counter;
  content: counter(tidbit-counter);
}

@font-face {
  font-family: bebas;
  src: url(./zip/bebas-neue-v9-latin-regular.woff);
}

hr {
    outline: none;
    box-shadow: none;
    border: none;
    border-top: 1px solid black;
}

.page-container {
    padding: 0.5in;
    position: relative;
    width: 8.5in;
    height: 11in;
    margin-bottom: 100px;
}

.stripes {
  mask: url(#mask-stripe);
}
.smaller {
    font-size: 0.9 !important;
}
